@import "tailwindcss";

@theme inline {
  --font-monoton: var(--font-monoton);
}

.txt-sh {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.957);

}

body,footer, .bg-image{
  background-image: url("/images/retro-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@layer {
  .link {
    @apply hover:underline cursor-pointer hover:text-white;
  }

  .btn {
    @apply bg-gray-100 p-3 rounded-md ring-gray-200 text-sm text-gray-800 hover:ring-1 focus:outline-none active:ring-gray-300;
  }
}
